<div class="shell-header">
  <div class="shell-header-content">
    <div class="group">
      <i class="fa fa-address-card shell-header-clickable" (click)="navigate('home')"></i>
      <div class="shell-header-title">Simple
        <b>CRUD</b>
      </div>
    </div>

    <div class="shell-header-notifications">
      <div [hidden]="(actorsCount | async) === 0">
        <div class="group">
          <i class="fa fa-users shell-header-clickable" (click)="navigate('actors')"></i>
          <div class="tag tag-red">{{ actorsCount | async }}</div>
        </div>
      </div>

      <div [hidden]="(moviesCount | async) === 0">
        <div class="group gap-left">
          <i class="fa fa-film shell-header-clickable" (click)="navigate('movies')"></i>
          <div class="tag tag-red">{{ moviesCount | async }}</div>
        </div>
      </div>
    </div>

    <div class="group">
      <i class="fa fa-ellipsis-v shell-header-clickable" (click)="navigate('settings')"></i>
    </div>
  </div>
</div>