.users h1 {
  display: inline;
}

.users-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-title button {
  margin-left: 1em;
}

/* feat-user-edit {
  display: flex;
  justify-content: center;
} */
