.shell-header {
  margin: 0;
}

.shell-header:before {
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  content: "";
  height: 4em;
  left: -2%;
  position: fixed;
  width: 104%;
}

.shell-header .fa-shield {
  font-size: 2em;
}