<div class="actors-list">
  <div class="actors-list-title">
    <h1>Actors</h1>
  </div>

  <div class="actors-list-search-bar">
    <shr-search-bar [pattern]="pattern" (patternChange)="patternChange($event)"></shr-search-bar>
  </div>

  <div [hidden]="!(loading | async)">
    <div class="actors-list-spinner">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

  <div #scroll class="actors-list-cards">
    <feat-actor-card *ngFor="let actor of actors | async" [actor]="actor" (click)="edit(actor.id)"></feat-actor-card>
  </div>

  <button class="action-button" (click)="add()">
    <i class="fa fa-plus"></i>
  </button>
</div>