.movie-card-title {
  font-weight: bold;
}

.movie-card {
  padding: 1em;
  background: #fff;
  width: 20em;
}

.movie-card-title {
  font-weight: bold;
}

.movie-card-genre {
  font-size: .7em;
  color: #2e77ef;
}

.movie-card-year {
  font-size: .8em;
}