.movie-card-title {
  font-weight: bold;
}

.movie-card {
  padding: 1em;
  width: 23em;
}

.movie-card-header {
  display: flex;
  align-items: center;
}

.movie-card-title {
  font-weight: bold;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card-year {
  font-size: 0.8em;
  margin-left: 0.4em;
}

.movie-card-director {
  font-size: 0.8em;
  margin-top: 0.2em;
}

.movie-card-director label {
  font-weight: bold;
  color: #777;
}

.movie-card-genre {
  margin-bottom: 0.7em;
}

.movie-card-genre shr-tag {
  margin-right: 0.5em;
}

.movie-card-actors {
  font-size: 0.8em;
}

.movie-card-actors div {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 26em;
}
