<div class="actor-edit">
  <div class="actor-edit-title">
    <h1>Edit actor</h1>
  </div>

  <div [hidden]="!(loading | async)">
    <div class="actor-list-spinner">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

  <div class="actor-edit-container" [hidden]="loading | async">
    <form #form="ngForm">
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" required [ngModel]="actor?.firstname" (ngModelChange)="actor.firstname=$event">
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" required [ngModel]="actor?.lastname" (ngModelChange)="actor.lastname=$event">
      </div>
    </form>

    <shr-crud-buttons (save)="save()" (cancel)="cancel()" (delete)="delete()"></shr-crud-buttons>
  </div>
</div>