<!--
<div>{{ message$ | async }}</div>

<button (click)="spanishMessage()">Spanish</button>
<button (click)="frenchMessage()">French</button>

<div *ngIf="post | async as p">
  <h2>{{ p.text }}</h2>
  <h4>{{ p.likes }}</h4>

  <button (click)="upVote()">Upvote</button>
  <button (click)="downVote()">Downvote</button>
  <button (click)="reset()">Reset</button>

  <input type="text" [(ngModel)]="text">
  <button (click)="editText()">Change title</button>
</div>
-->

<router-outlet></router-outlet>
