.movies h1 {
  display: inline;
}

.movies-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-title button {
  margin-left: 1em;
}

feat-movie-edit {
  display: flex;
  justify-content: center;
}
