.autocomplete-item {
  display: flex;
  color: #333;
  padding: 0.3em;
  cursor: pointer;
  width: 14em;
}

.autocomplete-item.highlighted {
  background: #eee;
}

.autocomplete-item:hover {
  background: #eee;
}