.profile h1 {
  display: inline;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-text {
  font-size: 1.1em;
  margin-bottom: 3em;
  padding: 2em 3em 0 3em;
}

.profile-poem {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}
