.shell {
  width: 100%;
  overflow: hidden;
}

.shell-content {
  position: fixed;
  top: 4em;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.shell-container {
  margin: 0 1em;
}

.shell .fa-github {
  color: #bbb;
  font-size: 3em;
  position: fixed;
  bottom: 0.4em;
  left: 0.4em;
}

.shell-github-clickable {
  z-index: 1000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shell-github-clickable:hover {
  background: rgba(200, 200, 200, 0.3);
}

.shell-github-clickable:active {
  background: rgba(200, 200, 200, 0.6);
}
