.home h1 {
  display: inline;
}
.home-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
}

.home-actions button {
  width: 8em;
  margin-top: 1em;
}
