<div class="movie-edit">
  <div class="movie-edit-title">
    <h1>Edit movie</h1>
  </div>

  <div [hidden]="!(loading | async)">
    <div class="movie-list-spinner">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

  <div class="movie-edit-container" [hidden]="loading | async">
    <form #form="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required [ngModel]="movie?.title" (ngModelChange)="movie.title=$event">
      </div>

      <div class="form-group">
        <label>Genre</label>
        <shr-autocomplete [items]="genresForAutocomplete" (itemSelect)="addGenre($event)"></shr-autocomplete>
      </div>

      <div class="form-group">
        <label></label>
        <div class="movie-edit-tag">
          <shr-tag *ngFor="let genre of genres" [label]="genre" (closeClick)="removeGenre(genre)"></shr-tag>
        </div>
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input type="text" id="year" name="year" required [ngModel]="movie.year" (ngModelChange)="movie.year=$event">
      </div>

      <div class="form-group">
        <label for="director">Director</label>
        <input type="text" id="director" name="director" required [ngModel]="movie.director" (ngModelChange)="movie.director=$event">
      </div>

      <div class="form-group">
        <label>Actors</label>
        <shr-autocomplete [items]="actorsForAutocomplete" (itemSelect)="addActor($event)"></shr-autocomplete>
      </div>

      <div class="form-group">
        <label></label>
        <div class="movie-edit-tag">
          <shr-tag *ngFor="let actor of actors" [label]="actor.fullname" [color]="'#ffb74d'"
          (closeClick)="removeActor(actor)"></shr-tag>
        </div>
      </div>
    </form>

    <shr-crud-buttons (save)="save()" (cancel)="cancel()" (delete)="delete()"></shr-crud-buttons>
  </div>
</div>