.movie-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-edit h1 {
  display: inline;
}

.movies-edit-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-edit-container {
  padding: 1.5em .5em 1em .5em;
  background: #fff;
  border-radius: .1em;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.movie-edit-container .form-group {
  margin: 0 0 1em 1em;
}

.movie-edit-container shr-tag {
  margin-right: .5em;
}

.movie-edit form {
  margin-bottom: 1.5em;
}

.movie-edit label {
  font-weight: bold;
  width: 5em;
  display: inline-block;
}

.movie-edit input {
  width: 17em;
}

.movie-list-spinner {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.movie-edit-tag {
  display: inline-block;
  width: 20em;
}