<div class="user-edit">
  <div class="users-edit-title">
    <h1>Edit user</h1>
  </div>

  <div class="user-edit-container">
    <form #form="ngForm">
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" name="firstname" required [(ngModel)]="firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" name="lastname" required [(ngModel)]="lastname">
      </div>
    </form>

    <shr-crud-buttons (save)="save()" (cancel)="cancel()" (delete)="delete()"></shr-crud-buttons>
  </div>
</div>