<div class="settings">
  <div class="settings-title">
    <h1>Settings</h1>
  </div>

  <div class="settings-text">
    <i>
      Looking for a Settings page? I have no intention of implementing it. But, you're lucky, you're curiosity is being rewarded
      by a nice poem. Here's just for you, El Desdichado by Gerard de Nerval, a French poet from the 19th Century.
    </i>
  </div>

  <div class="settings-poem">
    <div>
      Je suis le Ténébreux, - le Veuf, - l'Inconsolé,
      <br> Le Prince d'Aquitaine à la Tour abolie :
      <br> Ma seule Etoile est morte, - et mon luth constellé
      <br> Porte le Soleil noir de la Mélancolie.
      <br>
      <br> Dans la nuit du Tombeau, Toi qui m'as consolé,
      <br> Rends-moi le Pausilippe et la mer d'Italie,
      <br> La fleur qui plaisait tant à mon coeur désolé,
      <br> Et la treille où le Pampre à la Rose s'allie.
      <br>
      <br> Suis-je Amour ou Phébus ?... Lusignan ou Biron ?
      <br> Mon front est rouge encor du baiser de la Reine ;
      <br> J'ai rêvé dans la Grotte où nage la sirène...
      <br>
      <br> Et j'ai deux fois vainqueur traversé l'Achéron :
      <br> Modulant tour à tour sur la lyre d'Orphée
      <br> Les soupirs de la Sainte et les cris de la Fée.
    </div>
  </div>
</div>